# Alex Eastaugh ~/.aliases

GREEN='\033[0;32m'
YELLOW='\033[0;33m'
RED='\033[0;31m'
CEXIT='\033[0m'

# aliases
alias aliases='grep "alias\|function" ~/.aliases | tail -n +3'
alias ..='cd ..'
alias ...='cd ../..'
alias ll='ls -l'
alias la='ls -lA'
alias grep='grep --color=always'
alias verifypubkey='ssh-keygen -l -f'
alias tree='tree -C' # output in colour
alias zreload='source ~/.zshrc' # reload zsh config

# git
alias pull='git pull'
alias gs='git status'
alias ga='git add'
alias gc='git commit' # for commit messages that require an editor
alias gcm='git commit -m'
alias gp='git push'
alias gb='git branch -a' # -a flag to show all branches, including remote ones
alias gco='git checkout'
alias gl='git log'
alias greset='git reset --soft HEAD^' # remove last commit but keeps changes staged
alias greset-hard='git reset --hard HEAD^' # remove last commit AND all changes from staging/files

# dots
function dots() {
    cd ~/macdots; echo -e ${GREEN}"You are now in${CEXIT} ${RED}${PWD}${CEXIT}"; ls -l
}

# generatekey - creates an rsa key with 4096 bytes and add the key name to the comments
function sshgeneratekey() {
    if [ $# -eq 0 ];then
        echo -e ${RED}"Please supply a comment for the key file"${CEXIT}
    else
        ssh-keygen -t rsa -b 4096 -C "$@"
    fi
}

# fun
alias weather='curl wttr.in' # terminal weather forecast
