# Alex Eastaugh ~/.aliases

# system aliases
alias aliases='grep "alias\|function" ~/.aliases | tail -n +3'
alias ..='cd ..'
alias ...='cd ../..'
alias ll='ls -l'
alias la='ls -lA'
alias grep='grep --color=always'
alias verifypubkey='ssh-keygen -l -f'
alias tree='tree -C' # output in colour
alias zreload='source ~/.zshrc' # reload zsh config

# git
alias pull='git pull'
alias gs='git status'
alias ga='git add'
alias gc='git commit' # for commit messages that require an editor
alias gcm='git commit -m'
alias gp='git push'
alias gb='git branch -a' # -a flag to show all branches, including remote ones
alias gcbranch='git checkout -b' # Create a new branch
alias gpupstream='git push --set-upstream origin' # Push and set upstream (Need to add branch name after)
alias gco='git checkout'
alias gl='git log'
alias greset='git reset --soft HEAD^' # remove last commit but keeps changes staged
alias greset-hard='git reset --hard HEAD^' # remove last commit AND all changes from staging/files
alias git-comment-ammend='git commit --amend'

# fun
alias weather='curl wttr.in' # terminal weather forecast

# Akoova
export SCRIPT_DIR=$HOME/akoova/tools-repo
alias le='ll_ec2'
alias ssh_admin="${SCRIPT_DIR}/helpers/ssh_admin.sh"
