# Alex Eastaugh ~/.functions

GREEN='\033[0;32m'
YELLOW='\033[0;33m'
RED='\033[0;31m'
CEXIT='\033[0m'

# go to macdots dir
function dots() {
    cd ~/macdots; echo -e ${GREEN}"You are now in${CEXIT} ${RED}${PWD}${CEXIT}"; ls -l
}

# projects - Takes you to the projects folder and lists the contents
projects() {
    if [ -d ~/projects ];then
        cd ~/projects; echo -e ${GREEN}"You are now in${CEXIT} ${RED}${PWD}${CEXIT}"; ls -l
    else
        echo -e ${RED}"Projects folder not yet created"${CEXIT}
    fi
}

# SSH to the jenkins master
jump_to_jenkins() {
    BASTION=$(ll_ec2 elproducto | grep Bastion | awk -F':' '{print $5}')
    JENKINS=$(ll_ec2 elproducto | grep jenkins | awk -F':' '{print $5}')
    ssh -A -t ec2-user@${BASTION} ssh -A centos@${JENKINS}
}

